doctype html
html(lang="en")
    include ../views/includes/head

    body
        include ../views/includes/navbar

        .bg-1
            .about-container
                .row
                    .col-lg-3
                        .thumbnail
                            h3.caption-header Удобство
                            img.img-responsive(src="img/3.png")
                            p.caption Вы можете выбрать любую удобную для Вас форму оплаты заказа. Мы работаем как с предприятиями, так и с частными лицами. Будем рады сотрудничать с рекламными агенствами.

                    .col-lg-3
                        .thumbnail
                            h3.caption-header Стандарты
                            img.img-responsive(src="img/3.png")
                            p.caption Все модели сигнальных жилетов сертифицированы по европейскому стандарту EN471 и ГОСТ Р12.4219-99 и относятся ко второму классу защиты.

                    .col-lg-3
                        .thumbnail
                            h3.caption-header Качество
                            img.img-responsive(src="img/3.png")
                            p.caption При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.

                    .col-lg-3
                        .thumbnail
                            h3.caption-header Безопасность
                            img.img-responsive(src="img/3.png")
                            p.caption Жилет сигнальный светоотражающий – это необходимый атрибут рабочей формы, который незаменим для деятельности в условиях недостаточной видимости. Светоотражающие сигнальные жилеты обезопасят жизнь работника, сделав видимым в любых условиях.


                //.img-thumbnail
                //img.img-thumbnail(src="img/3.png" style="height: 700px; opacity: 0.90")
                //p Компания SignalVest предлагает Вам прямые оптовые поставки сигнальных жилетов от производителя
                //.about-wrapper.float-left
                //    p Компания SignalVest предлагает Вам прямые оптовые поставки сигнальных жилетов от производителя
                //.about-wrapper.float-right
                //    p
                //.about-wrapper.float-left
                //    p
                //.about-wrapper.float-right
                //    p
                //    p SignalVest - это удобный партнер.





        include ../views/includes/footer












