footer.text-center
    a(href="/" data-toggle="tooltip" title="К началу")
    p: a(href="http://signalvest-kostroma.ru/") 2018 signalvest-kostroma.ru - оптовая продажа сигнальных жилетов
    p +7 910 370-00-28
    p г. Кострома, Проспект Текстильщиков 21/51.