nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top#navbar
    a.navbar-brand(href="/"): span Signalvest

    ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") Главная
        li.nav-item: a.nav-link(href="/product") Продукция
        li.nav-item: a.nav-link(href="/about") О компании
        li.nav-item: a.nav-link(href="/payment") Оплата
        li.nav-item: a.nav-link(href="/delivery") Доставка
        li.nav-item: a.nav-link(href="/contact") Контакты

    ul.navbar-nav.ml-auto
        if user
            li.nav-item
                a.nav-link Вы зашли под
                    |
                    |
                    span.user #{user.local.email}

            li.nav-item: a.nav-link(href="/logout") Выход
        else
            li.nav-item: a.nav-link(href="/login") Войти
            li.nav-item: a.nav-link(href="/signup") Регистрация