head
    meta(name="yandex-verification" content="539ed679c71cd165")
    meta(name="google-site-verification" content="_ix379MIYcMf-J_O4_nk9y7ph5OIfH0z9Z8OotcAF6M")
    meta(name="keywords" content="сигнальные жилеты в костроме, жилеты оптом, печать на жилетах, сигнальный жилет, оптовая закупка")
    meta(name="description" content="Signalvest-kostroma - сигнальные жилеты оптом и в розницу. Напечатаем любой логотип на вашей футболке, майке, толстовке.")
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/registry.css" rel="stylesheet")
    script(src="/jquery/jquery.min.js")
    script(src="/popper/popper.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/admin.js")
    link(href="https://fonts.googleapis.com/css?family=Alegreya|Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet")
    script(src="/fa/fontawesome-all.js")
