doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .bg-2
            .container
                .col-sm-5
                    .card.img-fluid
                        img.card-img-top(src="img/about/q.jpg")
                        .card-body
                            h4.card-title Удобство
                            p.card-text Вы можете выбрать любую удобную для Вас форму оплаты заказа. Мы работаем как с предприятиями, так и с частными лицами. Будем рады сотрудничать с рекламными агенствами.

                .offset-8.col-sm-5.pt-5
                    .card
                        img.card-img-top(src="img/about/w.jpg")
                        .card-body
                            h4.card-title Стандарты
                            p.card-text Все модели сигнальных жилетов сертифицированы по европейскому стандарту EN471 и ГОСТ Р12.4219-99 и относятся ко второму классу защиты.

                .col-sm-5.pt-5
                    .card
                        img.card-img-top(src="img/about/e.jpg")
                        .card-body
                            h4.card-title Качество
                            p.card-text При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.

                .offset-8.col-sm-5.pt-5
                    .card
                        img.card-img-top(src="img/about/r.jpg")
                        .card-body
                            h4.card-title Безопасность
                            p.card-text Жилет сигнальный светоотражающий – это необходимый атрибут рабочей формы, который незаменим для деятельности в условиях недостаточной видимости. Светоотражающие сигнальные жилеты обезопасят жизнь работника, сделав видимым в любых условиях.












        include includes/footer












