doctype html
html(lang="en")
    head
        title Сигнальные жилеты
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/css/registry.css" rel="stylesheet")

    body
        include includes/navbar

        h1 Сигнальные жилеты

        form(action="/uploadPhoto" method="POST" enctype="multipart/form-data")
            input(type="file" name="myimage")
            input(type="submit" name="submit" value="submit")



