doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .bg-5
            .contact-container
                .row.pt-3.pb-3
                    .col-sm-4.col-md-3.ml-4
                        div
                            i.fa.fa-phone.fa-pull-left.fa-2x
                            h3.phone(style="vertical-align: middle") +7 (910) 370-00-28


                    .col-sm-4.col-md-3
                        div.pr-3
                            i.fas.fa-envelope.fa-pull-left.fa-2x(style="")
                            h3 apelsin.ds@mail.ru

                    .col-sm-4.col-md-4
                        div.pr-3
                            i.fas.fa-building.fa-pull-left.fa-2x
                            h3 г. Кострома, пр-кт Текстильщиков 21/51.

                #googleMap

        script(src="js/map.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQn3D3GpK8l7QkbqYOh0ofy2LqZn_gK10&callback=initializeMap")

        include includes/footer














