doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .bg-6
            .container.delivery-container
                h1.text-center.pb-3 Способы доставки:
                .row
                    .col-sm-3.col-md-3
                        img.delivery-car(src="img/delivery/2.png" style="width: 300px;")
                    .col-sm-7.col-md-7.offset-1
                        .card.delivery-card
                            .card-header.card-index-header
                                h4 Услуги транспортной компании
                            .card-body
                                .card-text
                                    p Наша компания отправляет свою продукцию (сигнальные жилеты) в любой регион России через транспортные компании, такие как: «Автотрейдинг», «Деловые линии», «ПЭК».
                                    p Если Вы не имеете возможности самостоятельно забрать заказа, то этот вид доставки будет вам как нельзя кстати. К тому же, доставка до ТК будет осуществлена нами совершенно бесплатно.


                .row
                    .col-sm-3.col-md-3
                        img.delivery-man(src="img/delivery/1.png" style="width: 200px;")
                    .col-sm-7.col-md-7.offset-1
                        .card.delivery-card
                            .card-header
                                h4 Самовывоз со склада
                            .card-body
                                .card-text
                                    p Самовывоз — это покупка без дополнительных вложений.
                                    p Заказал — Приехал — Получил. Никаких затрат на доставку.

















        include includes/footer












