doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .delivery-background
        .delivery-content
                .card.bg-dark.text-white
                    .card-header
                        h1 Способы доставки:
                        h3 Доставка сигнальных жилетов по России. Отправка ТК.
                    //img.card-img-top(src="img/delivery/1.jpg")
                    .card-body
                        .card-text
                            p Наша компания отправляет свою продукцию (сигнальные жилеты) в любой регион России через транспортные компании, такие как: «Автотрейдинг», «Деловые линии», «ПЭК». Если Вы не имеете возможности самостоятельно забрать заказа, то этот вид доставки будет вам как нельзя кстати. К тому же, доставка до ТК будет осуществлена нами совершенно бесплатно.
                            p Самовывоз. Получение сигнальных жилетов со склада.
                            p Самовывоз — это покупка без дополнительных вложений. Заказал — Приехал — Получил. Никаких затрат на доставку.
        .delivery-delimiter
        .self-delivery











        include includes/footer












