doctype html
html(lang="en")
    head
        title Сигнальные жилеты
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/css/registry.css" rel="stylesheet")

    body
        .container
            .row
                for image in images
                    .col-sm-3.vest-container
                        img.vest-image(src=image.path)

                if !images.length
                    p Не найдено ни одного жилета










