doctype html
html(lang="en")
    head
        title Сигнальные жилеты
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/css/registry.css" rel="stylesheet")

    body
        include includes/head.pug

        .container(style="padding-top: 100px")
            h1 Сигнальные жилеты





