doctype html
html(lang="en")
    include includes/head
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

    body
        include includes/navbar

        .wrapper
            .bg-desktop.d-none.d-lg-block
                img.index-background(src='img/background/сигнал6.png')
            .container.bg-mobile.index-container
                h1.text-center.desktop-h1.d-sm-none.d-lg-block SignalVest

                .row
                    .col-lg-3.col-md-6
                        div.img-thumbnail
                            a(href="/product/1")
                                img.index-background(src="/img/good/300x300/Жилет-«Эконом».png" alt="Жилеты")
                                h2.text-center Жилеты

                    .col-md-6.d-lg-none.pb-md-3
                        div.img-thumbnail
                            a(href="/product/2")
                                img.index-background(src="/img/cloaks/300x300/comfort_sop2.png" alt="Плащи")
                                h2.text-center Плащи

                    .col-md-12.col-lg-6(style="margin-top: 2rem;")
                        div
                            .card.mb-5(style="height: 100%;")
                                .card-header
                                    ul.nav.nav-tabs.nav-justified.card-header-tabs(role="tablist")
                                        li.nav-item
                                            a.nav-link.active(href="#menu0" data-toggle="tab") Безопасность
                                        li.nav-item
                                            a.nav-link(href="#menu1" data-toggle="tab") Качество
                                        li.nav-item
                                            a.nav-link(href="#menu2" data-toggle="tab") Стандарты
                                        li.nav-item
                                            a.nav-link(href="#menu3" data-toggle="tab") Удобство

                                .card-body
                                    .tab-content
                                        #menu0.tab-pane.active
                                            p Жилет сигнальный светоотражающий – это необходимый атрибут рабочей формы, который незаменим для деятельности в условиях недостаточной видимости. Светоотражающие сигнальные жилеты обезопасят жизнь работника, сделав видимым в любых условиях.

                                        #menu1.tab-pane.fade
                                            p При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.

                                        #menu2.tab-pane.fade
                                            p Все модели сигнальных жилетов сертифицированы по европейскому стандарту EN471 и ГОСТ Р12.4219-99 и относятся ко второму классу защиты.

                                        #menu3.tab-pane.fade
                                            p Вы можете выбрать любую удобную для Вас форму оплаты заказа. Мы работаем как с предприятиями, так и с частными лицами. Будем рады сотрудничать с рекламными агенствами.


                    .col-lg-3.d-none.d-lg-block.pb-3
                        div
                            div.img-thumbnail
                                a(href="/product/2")
                                    img.index-background(src="/img/cloaks/300x300/comfort_sop2.png")
                                    h2.text-center Плащи

            .push



        include includes/footer












