doctype html
html(lang="en")
    include includes/head
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

    body
        include includes/navbar

        .bg-desktop
        .container.bg-mobile
            h1.text-center.desktop-h1.d-sm-none.d-lg-block(style="font-size: 4rem; font-family: 'PT Sans', sans-serif;") SignalVest

            .row.col-md-12(style="padding-top: 70px;")
                .card
                    .card-header.card-index-header
                        h3 Безопасность
                    .card-body
                        p Жилет сигнальный светоотражающий – это необходимый атрибут рабочей формы, который незаменим для деятельности в условиях недостаточной видимости. Светоотражающие сигнальные жилеты обезопасят жизнь работника, сделав видимым в любых условиях.

            .row.pt-5.col-md-12
                .card
                    .card-header.card-index-header
                            h3 Качество
                    .card-body
                            p При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.

            .row.pt-5.pb-3.col-md-12
                .card
                    .card-header.card-index-header
                        h3 Стандарты
                    .card-body
                        p При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.











        //.bg-3.col-sm-12
        //    .subsection-1
        //    h1.main-header SignalVest
        //
        //    .row.pt-5
        //        .col-lg-3.col-md-12
        //            .center-caption
        //                h2.left-header Безопасность
        //
        //        .col-lg-7.col-md-12.offset-sm-2.center-text
        //            p Жилет сигнальный светоотражающий – это необходимый атрибут рабочей формы, который незаменим для деятельности в условиях недостаточной видимости. Светоотражающие сигнальные жилеты обезопасят жизнь работника, сделав видимым в любых условиях.
        //
        //
        //    .row.pt-5
        //        .col-sm-3
        //            .center-caption
        //                img.float-left.d-none.d-lg-block(src="img/background/item.png" style="width: 360px; height: 125px")
        //                h2.left-header Качество
        //
        //        .col-sm-7.offset-sm-2.center-text
        //            p При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.
        //
        //    .row.pt-5
        //        .col-sm-3
        //            .center-caption
        //                img.float-left.d-none.d-lg-block(src="img/background/item.png" style="width: 360px; height: 125px")
        //                h2.left-header Стандарты
        //
        //        .col-sm-7.offset-sm-2.center-text
        //            p При пошиве сигнальных жилетов используются материалы высокого качества, которые не побледнеют после стирки, а в светоотражающих элементах не разрушится верхний отражающий слой.

        include includes/footer












