doctype html
html(lang="en")
    include includes/head

    body
        .container
            .col-sm-6.col-sm-offset-3
                h1 Логин

                if message.length
                    .alert.alert-danger= message

                form(action="/login" method="post")
                    .form-group
                        label Логин
                        input.form-control(name="login")
                    .form-group
                        label Пароль
                        input.form-control(name="password" type="password")
                    button.btn.btn-warning.btn-lg Войти

                hr

                p.d-inline Нужен аккаунт?
                |
                |
                a(href="/signup") Регистрация
                p Перейти на главную
                    |
                    |
                    a(href="/"): i.fa.fa-home
