doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .bg-1
            .container
                .card.mx-auto
                    .card-header
                        h2 Способы оплаты заказа.
                    .card-body
                        p Signalvest - это удобный партнер. Вы можете выбрать любую удобную для Вас форму оплаты заказа.
                        p Мы работаем как с предприятиями, так и с частными лицами. Будем рады сотрудничать с рекламными агенствами.
                    img.card-img-bottom(src="img/payment/1.png")












        include includes/footer












