doctype html
html(lang="en")
    include includes/head

    body
        include includes/navbar

        .bg-1
            .container.white-list

                .row.text-center
                    .line
                        h1.float-center.d-inline-block НАША ПРОДУКЦИЯ

                    for image in images
                        .col-sm-4.vest-wrapper
                            img.vest-image(src=image.path)
                            p.font-weight-bold.text-center.d-inline-block.pl-4= image.originalname
                            strong.circle
                                span.circle-text= image.price
                            if user && user.local.role === "admin"
                                button.btn.edit-price +



                        if !images.length
                            p Не найдено ни одного жилета

        include includes/footer







