doctype html
html(lang="en")
    head
        title Профиль
        link(href="css/bootstrap.css" rel="stylesheet")
        link(href="css/profile.css" rel="stylesheet")

    body
        .container
            .text-center
                h1.pb-3 Личный профиль
                a.btn.btn-danger.btn-lg.mr-2(href="/logout") Выйти
                a.btn.btn-info.btn-lg(href="/") На главную

            .row
                .col-sm-8
                    .card.mt-3
                        h3 Учетная запись
                        p Электронная почта: #{user.local.email}


                        if user.local.login
                            p Логин: #{user.local.login}
                        if !user.local.login
                            p Логин: не заполнен

                        if user.local.phone
                            p Телефон: #{user.local.phone}
                        if !user.local.phone
                            p Телефон: не заполнен

                        if user.local.regDate
                            p Зарегистрирован: #{regDate}
                        if !user.local.regDate
                            p Дата регистрации: не указана









