html, body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-top: 20px;
    max-width: 1500px;
}

.desktop-h1 {
    position: relative;
}

@media(max-width: 1100px) {
    .desktop-h1 {
        font-size: 3.0rem;
        font-family: 'PT Sans', sans-serif;
        left: -74px;
        top: -79px;
    }
}

@media(min-width: 1101px) {
    .desktop-h1 {
        font-size: 3.5rem;
        font-family: 'PT Sans', sans-serif;
        left: -102px;
        top: -79px;
    }
}

@media(min-width: 1301px) {
    .desktop-h1 {
        font-size: 4rem;
        font-family: 'PT Sans', sans-serif;
        left: -104px;
        top: -101px;
    }
}

.index-container {
    padding-left: 0px;
    padding-right: 0px;

}

.img-thumbnail {
    background-color: rgba(255, 255, 255, 0.7);
}

.img-thumbnail:hover {
    background-color: rgba(220, 220, 220, 1);
}

#navbar {
    background-color: rgba(52, 58, 64, 0.3) !important;
}

#navbar:hover {
    background-color: rgba(52, 58, 64, 0.8) !important;
}

.navbar-brand img {
    width: 25px;
    height: 25px;
}

.nav-item .nav-link.active {
    color: rgba(239, 213, 22, 1.0) !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.preview {
    height: 300px;
    width: 100%;
}

.vest-container {
    padding-left: 30px;
    padding-right: 30px;
}

.vest-wrapper strong {
    font-size: 1.2rem;

}

.vest-image {
    height: 280px;
    /*width: 100%;*/
    /*opacity: 0.9;*/
    transition: transform .5s;
    opacity: 1.0 !important;
}

.vest-image:hover {
    opacity: 1.0;
    transform: scale(1.05);
}

.bg-1 {
    background: url(/img/background/building.jpg) no-repeat center fixed;
    min-height: 800px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /*height: 1500px;*/
    object-fit: cover;
}

.bg-2 {
    background: url(/img/background/3198.jpg) no-repeat;
    width: 100%;
}

@media(min-width: 1000px) {
    .bg-desktop {
        /*width: auto;*/
        /*height: 600px;*/
        /*background: rgba(255, 255, 255, 1) url(/img/background/сигнал6.png) no-repeat;*/
        /*background-size: 100% 100%;*/
        margin: 0 auto;
        /*height: auto;*/
        max-width: 100%;
    }
}
@media(max-width: 1000px) {
    .bg-mobile {
        /*background-color: rgba(62, 114, 179, 0.42);*/
        height: 700px;
        /*background: url(/img/background/сигнал.png) center;*/
    }
}

.index-background {
    width: 100%;
    height: 100% !important;
}

.white-list {
    background: rgba(255, 255, 255, 0.85);
    padding-bottom: 20px;
}

.tmpl {
    position: relative;
    bottom: 84px;
    height: 100px;
    width: 100%;
}

.line {
    /*height: 59px;*/
    width: 100%;
    background-color: rgba(212, 212, 212, 1.0);
    top: 45px;
    z-index: 500;
}

@media(max-width: 770px) {
    .line {
        height: 200px !important;
    }
}

@media(min-width: 960px) {
    .line {
        height: 59px;
    }
}

.circle {
    position: absolute;
    height: 30px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10%;
    background: rgba(63, 152, 194, 0.85) !important;
    color: white;
    align-content: right;
    bottom: 60px;
    right: 10px;
    /*transition: transform .5s;*/
    box-shadow: 3px -5px rgba(255, 255, 255, 1.00);
}


.circle-text {
    position: absolute;
    bottom: 2px;
    left: 6px;
}

.about-container {
    padding: 40px;

}

.about-wrapper {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-top-right-radius: 20px;
}

.about-image {
    width: 60%;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.thumbnail img {
    height: 450px;
}

.caption-header {
    text-align: center;
    top: 90px;

    position: absolute;
    width: 90%;
    margin: 5%;
}

.caption {
    text-align: left;
    bottom: 30px;
    position: absolute;
    width: 90%;
    margin: 5%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#mycarousel {
    padding-top: 56px;
}


/*Доставка*/
.bg-4 {
    padding-top: 58px;
    height: 1500px;
    width: 100%;
}

.delivery-background {
    background: url(/img/delivery/1.jpg);
    width: 100%;
    filter: blur(1px);
    z-index: 1;
    height: 1000px;
    display: block;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.delivery-content {
    background: rgba(255, 255, 255, 0.35);
    top: 150px;
    left: 0;
    position: fixed;
    margin-left: 50px;
    margin-right: 50px;
    right: 0;
    z-index: 2;
}

.delivery-delimiter {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 1.0);
}

.self-delivery {
    background: url(/img/delivery/2.jpg);
    background-size: cover;
    filter: blur(1px);
    z-index: 1;
    height: 1450px;
    display: block;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

/*Контакты*/
.bg-5 {

}

.contact-container {
    padding-top: 58px;
}

.contact-container .row {
    background-color: rgba(239, 213, 22, 1.0) !important;
}

.contact-container .phone {
    margin-bottom: 0 !important;
}

#googleMap {
    width: 100%;
    height: 800px;
}

.bg-6 {
    height: 1000px;
}

.delivery-container {
    margin-top: 100px;
    max-width: 1500px;
}

.delivery-man {
    object-fit: cover;
}

.delivery-car {
    object-fit: cover;
}

.delivery-card .card-header {
    background-color: rgb(255, 230, 0)
}

.edit-price {

}

.pagination {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 150px;*/

}

.prev-page {

}

#addVest {
    position: relative;
    top: 0;
    right: 0;
}

#VestForm [readonly] {
    height: 48px;
}

.main-header {
    font-family: 'PT Sans', sans-serif;
    font-size: 4.5rem;
    left: 32%;
    position: relative;
}

/*.left-header {*/
    /*font-family: 'PT Sans', sans-serif;*/
    /*color: white;*/
    /*font-size: 2.5rem;*/
    /*position: absolute;*/
    /*left: 37px;*/
    /*top: 30px;*/
/*}*/

.center-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

/*.center-caption img{*/
    /*object-fit: contain;*/
/*}*/

@media(max-width: 900px) {
    .subsection-1 {
        padding-top: 50px;
    }
}

@media(min-width: 900px) {
    .subsection-1 {
        height: 600px;
    }
}



.center-text {
    line-height: 1.8rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

pre {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.card-index-header {
    background-color: rgb(181, 180, 177)
}

@media(max-width: 500px) {
    .wrapper {
        height: 1250px;
    }
}

.wrapper {
    min-height: calc(100vh - 70px);
    /*min-height: 100%;*/
    margin-bottom: -50px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 30px;
}

.push {
    height: 50px;
}

@media(max-width: 800px) {

}

footer a {
    color: #f5f5f5;
}