.editPriceTmplWrapper {
    position: absolute;
    height: 30px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    bottom: 76px;
    right: 164px;
}

.priceTmplWrapper {
    position: absolute;
    height: 30px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    bottom: 76px;
    right: 70px;
}

.editPriceTmpl {
    position: absolute;
    height: 50px;
    width: 206px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background: rgba(63, 152, 194, 0.85) !important;
}


.circle-big {
    color: white;
    align-content: right;
    transition: transform .5s;
    box-shadow: 3px -5px rgba(255, 255, 255, 1.00);
}

.circle-text-big {
    font-size: 3rem;
    position: absolute;
    bottom: -8px;
    left: 10px
}

.edit-inp {
    position: relative;
    /*top: 0px;*/
    right: -40px;
    width: 150px;
}

/*Заголовок, описание*/
#descHeaderInp {
    font-size: 24px;
}
