.editPriceTmplWrapper {
    position: absolute;
    height: 30px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    bottom: 76px;
    right: 164px;
}

.priceTmplWrapper {
    position: absolute;
    height: 30px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    bottom: 76px;
    right: 70px;
}

#desc-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(max-width: 300px) {
    .circle-text-big {
        font-size: 1.5rem;
    }

    .editPriceTmpl {
        width: 150px;
    }
}

@media(min-width: 301px) {
    .circle-text-big {
        font-size: 2rem;
    }

    .editPriceTmpl {
        height: 40px;
        width: 140px;
    }
}

@media(min-width: 601px) {
    .circle-text-big {
        font-size: 3rem;
    }

    .editPriceTmpl {
        height: 40px;
        width: 206px;
    }
}

@media(min-width: 770px) {
    .circle-text-big {
        font-size: 3rem;
    }

    .editPriceTmpl {
        height: 50px;
        width: 206px;
    }

    .priceTmplWrapper {
        right: 132px;
    }
}

.editPriceTmpl {
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background: rgba(63, 152, 194, 0.85) !important;
}


.circle-big {
    color: white;
    align-content: right;
    transition: transform .5s;
    box-shadow: 3px -5px rgba(255, 255, 255, 1.00);
}

.circle-text-big {
    position: absolute;
    bottom: -8px;
    left: 10px
}

.edit-inp {
    position: relative;
    /*top: 0px;*/
    right: -40px;
    width: 150px;
}

/*Заголовок, описание*/
#descHeaderInp {
    font-size: 24px;
}

#serial {
    text-align: center;
    height: 50px;
    width: 50px;
    border: solid 3px white;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(89, 163, 199);
    position: absolute;
    bottom: 0;
    right: 20px;
}

/*@media(max-width: 500px) {*/
    /*.pagination {*/
        /*padding-top: 100px;*/
    /*}*/
/*}*/

/*@media(max-width: 1000px) {*/
    /*.pagination {*/
        /*left: 0;*/
    /*}*/
/*}*/